<!DOCTYPE html>
<html> 

  <head> 

  <title>Javascript Clock App</title> 

  <!-- Location of the clock app javascript file-->
  <script src="D:\Programming\RubyApps\clockApp\app\assets\javascripts\clock.js"></script>

  <!-- Javascript files needed to use weather.js -->
  <script src="D:\Programming\RubyApps\clockApp\vendor\assets\javascripts\weather.js"></script>
  <script src="D:\Programming\RubyApps\clockApp\vendor\assets\javascripts\sugar.min.js"></script>
  <script src="D:\Programming\RubyApps\clockApp\vendor\assets\javascripts\jquery-2.1.4.js"></script>

  </head> 

  <body onload="updateClock(); setInterval('updateClock()', 1 )"> 

    <h1>JavaScript clock app</h1>

      <span id="clock">""</span>
      <br>
      <span id="date">""</span>

  </body>

</html>